#book-search {
    margin: auto;
    text-align: center;
    padding: 1em;
}

#book-search-results {
    margin: auto;
    background-color: var(--background-color);
}

.tableHeader {
    color: var(--button-color);
    font-weight: 500;
    font-size: 2.5rem;
}

div.flexbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 1rem;
}

div.title {
    flex-basis: 55%;
    flex-grow: 1;
}

div.author {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 1;
}

div.stars {
    flex-basis: 15%;
    flex-shrink: 1;
    color: var(--primary-color);
}

