#book-search {
    margin: auto;
    text-align: center;
    padding: 1em;
}

div.book-search-results {
    margin-bottom: 0.5em;
}

div.book-search-results h3 {
    margin: 0;
    padding-top: 0.2em;
}

div.book-search-results p {
    margin: 0;
    padding-bottom: 1.2em;
}

#book-search-results {
    padding: 1em;
    margin: auto;
    background-color: white;
}

#book-search-results .wrapper {
    display: flex;
}

#book-search-results div.left {
    flex: 0 0 70%;
}
#book-search-results div.right {
    flex: 1;
    color: var(--dynamic-color-light);
}

#book-search-results div.author {
    font-size: 0.8em
}