
.colorLine {
    fill: none;
    /* stroke: url(#pattern); */
    stroke-width: 20px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.colorLine:hover {
    z-index: 10;
}

.clone {
    pointer-events: none;
}