:root {
    --bulb-demo: var(--bulb-fill)
}

div.wrapper {
    display: flex;
}

div.wrapper h1 {
    text-align: center;
}

div.left {
    flex: 0 0 50%;
}
div.right {
    flex: 1;
    color: var(--secondary-color);
}

#lightbulb:hover {
    transform: scale(1.2);
}

div#lightbulb path#bulb {
  fill: var(--bulb-demo) !important;
  stroke: var(--bulb-stroke) !important;
}

div#lightbulb path.cap {
  stroke: var(--cap-stroke) !important;
}