
a {
    color: var(--dynamic-color-dark);
}

a:hover {
    color: var(--dynamic-color-light);
}

.site-footer {
    color: var(--dynamic-color-light);
    background-color: var(--dynamic-color-dark);
}

.site-footer a {
    color: var(--dynamic-color-light);
}

.site-footer a:hover {
    color: var(--dynamic-color-light);
}

/* *************************** */ /* Scroll progress indicator */ /* *************************** */
.scroll-indicator-container {
  height: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.scroll-indicator-progress {
    height: 100%;
    background-color: var(--dynamic-color-dark);
  }
