a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

li#search {
  font-weight: 400;
  color: var(--primary-color);
}

li#search:hover {
  color: var(--secondary-color);
}

li#darkModeToggle path#bulb {
  fill: var(--bulb-fill) !important;
  stroke: var(--bulb-stroke) !important;
}

li#darkModeToggle path.cap {
  stroke: var(--cap-stroke) !important;
}

#darkModeToggle:hover {
    transform: scale(1.2);
}

/* *************************** */ /* Scroll progress indicator */ /* *************************** */
.scroll-indicator-container {
  height: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.scroll-indicator-progress {
  height: 100%;
  background-color: var(--primary-color);
}


