.svgContainer {
    display: flex;
}

.svgContainer p {
    text-align: center;
    margin-bottom: 0;
}

.svgContainer.left {
    margin: auto;
}

.right {
    margin-left: 30px;
}

.tooltip {
    max-height: 200px !important;
    margin-left: 0px;
    background-color: var(--primary-color) !important;
    border-radius: 12px;
    padding: 8px;
    color: white;
}

.tooltip h2 {
    color: white;
}

.tooltip p {
    font-style: italic;
    text-align: left;
}

.tooltip .date {
    font-size: 11px;
}

.selected {
    fill: var(--primary-color) !important;
}


.blink {
    fill:  var(--secondary-color) !important;
    animation: blink-animation 1.5s steps(15, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(15, start) infinite;
}
@keyframes blink-animation {
    to {
        fill: lightgray;
    }
}
@-webkit-keyframes blink-animation {
    to {
        fill: lightgray;
    }
}