#vizTitle {
    text-align: center;
}

.countryListItem {
    display: block;
    width: 16.5%;
    float: left;
    font-size: 0.6em;  
}

.notRead, .total {
    fill: #CCCCCC;
    color: #CCCCCC;
}

.read {
    color: var(--primary-color);
    font-weight: 800;
    fill: var(--primary-color);
}

.toRead {
    color: var(--secondary-color);
    font-weight: 800;
    fill: var(--secondary-color);
}

.selected {
    background: var(--secondary-color);
    stroke: var(--secondary-color);
    stroke-width: 0.15em;
    color: white;
}

.fancy-text {
    font-weight: bold;
    color: var(--primary-color);
}

#bookTitleContainer {
    text-align: center;
}

#bookTitleContainer h1{
    text-align: center;
}

