h3 {
  font-size: 1.7rem;
}

.gridLayout {
  display: flex;
  flex-wrap: wrap;
}

.gridLayout > * {
  flex-grow: 1;
  flex-basis: 30%;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 5px;
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 30%;
  padding: 1rem;
}

.addressListItem {
    font-size: 0.6em;  
    padding: 0.2rem;
    flex-basis: 20%;
    flex-grow: 0;
}

.selected {
    background: var(--secondary-color);
    stroke: var(--secondary-color);
    stroke-width: 0.15em;
}

.faded {
    background: lightgray;
    color: lightgray;
    fill: lightgray;
}

.circle {
    opacity: 0.3;
}

.axisLabel {
  font-size: clamp(0.1rem, 0.9rem, 2rem);
}

svg text {
  font-size: clamp(0.1rem, 0.9rem, 2rem);
}