#attractor-buttons {
  width: 70%
}

#attractor-buttons button {
  font-size: 9px;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

img#main_image {
  padding: 1.5em;
  max-width: 450px;
}

img.small_image {
  padding: .2em;
}

.button:hover,
button:hover,
.button:focus
button:focus,
.selectedButton,
.selectedButton:focus {
  color: white;
  border-color: var(--primary-color);
  background: var(--secondary-color);
  outline: 0;
}