.DS_Store
_site/
_shelved/
.sass-cache/
node_modules/
notebooks/**/*.png
notebooks/**/*.svg
notebooks/env/
notebooks/.ipynb_checkpoints/
notebooks/strogatz_1991/env/
notebooks/strogatz_1991/.ipynb_checkpoints/

*.ipynb_checkpoints