:root {
    --background-color: white;
    --primary-color: #59f68d;
}

body {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 0;
}

p.subtitle {
    margin-top: 0;
}

div.header {
    
}

#book-search {
    margin: auto;
    text-align: center;
    padding: 1em;
}

#book-search-results {
    margin: auto;
    background-color: var(--background-color);
}

.tableHeader {
    color: var(--primary-color);
    font-weight: 800;
}

div.flexbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.5rem;
}

div.row, div.headerRow {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    column-gap: 2rem;
    text-align: left;
}

.name {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

.ticker {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 1;
}

.weight {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 1;
    color: var(--primary-color);
    text-align: right;
}

#buttons {
    margin-bottom: 2.5rem;
}
