<style type="text/css" media="screen">
    .gr_grid_container {
        width: 200px;
        margin: 0px 0px 0px 0px;
        filter: grayscale(80%);
        text-align: right;
    }

    .gr_grid_book_container {
        float: left;
        width: 40px;
        height: 60px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<h4> Recently read books</h4>
<script src="https://www.goodreads.com/review/grid_widget/7278573.Recently%20Read?cover_size=small&hide_link=true&hide_title=true&num_books=20&order=d&shelf=read&sort=date_read&widget_id=1500802037" type="text/javascript" charset="utf-8"></script>