/* layout */
html,
.container {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: auto;
}

/**
 * Page content
 */
.page-content {
  min-height: 100%;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 140px; /*等于或略大于footer的高度*/
}

/**
 * post content
 */
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-list-title {
  font-size: 1.7em;
  margin-bottom: 0.1em;
}

.site-footer {
  min-height: 8rem;
  bottom: 0;
  padding-bottom: 0rem;
  width: 100%;
  position: absolute;
  display: flex;
  font-size: 1.2em;
  color: white;
  background: url(/assets/img/texture.png),
    linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
    align-items: center;
}

.site-footer > * {
  flex-basis: 50%;
  flex-wrap: wrap;
  text-align: center;
  
}

.site-footer a {
  color: white;
  font-size: 1.2em;
}

.site-footer a:hover {
  color: var(--secondary-color);
}

/* Effects
—————————————————————————————————————————————————— */
.nav {
  line-height: $base-line-height;

  .page-link {
    color: $text-color;
    line-height: 1;
    display: block;
    padding: 5px 0px 0px 0px;

    li {
      font-size: 1.5rem;
      list-style: none;
      font-weight: 100;
      margin-bottom: 1rem;
    }

    a:active {
      font-weight: 500;
    }
  }
}

/* site-nav */

@include media-query($on-laptop) {
  .site-nav {
    /* flex box */
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */ // Import partials from `sass_dir` (defaults to `_sass`)

    opacity: 0;
    height: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-justify-content: center;
    justify-content: center;

    @include media-query($on-laptop) {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }

  #menu-toggle:checked + .site-nav {
    opacity: 1;
    height: auto;
    margin-bottom: -25px;
  }
}

input#menu-toggle {
  display: none;
}

.nav .menu-icon {
  display: none;
  position: absolute;
  right: 5%;

  @include media-query($on-laptop) {
    top: 67px;

    @include media-query(400px) {
      top: 13px;
    }

    display: block;
    text-align: center;

    &:hover {
      > svg {
        path {
          fill: $grey-color;
        }
      }
    }

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
      }
    }
  }
}

.site-header {
  text-align: right;
  @include media-query($on-laptop) {
    text-align: center;
    margin-bottom: 40px;
  }
  nav a {
    font-weight: 400;
  }
}

.post {
  @extend .dont-break-out;
}

.post-list {
}

.post_header {
  margin-bottom: 1rem;
}

.post_title {
  margin-bottom: 0.5rem;
}

.post_meta {
  .author_meta {
    img {
      height: 24px;
      width: 24px;
    }
  }
}

.article-content a {
  text-decoration: none;
}

.article-footer {
  padding: 2rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .share {
    text-align: center;
  }

  .share-link {
    text-decoration: underline;
    margin-left: 8px;
  }
}

/* author info */

.author {
  @media (max-width: $on-laptop) {
    display: inline-block;
    text-align: center;
  }
}

.authorinfo {
  text-align: center;
  font-family: "Muli";
  font-style: italic;
  font-size: clamp(1.4rem, 2rem, 2.2rem);
  margin: 0;
  padding: 0;
}

/* *************************** */ /* Defining the page logo */ /* *************************** */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 50px;
    margin: auto;
    padding: 0.5em;
    background: url(/assets/img/texture.png),
    linear-gradient(
      135deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
    border-radius: var(--border-radius);
    box-shadow: -3px 2px 3px black inset;

    .spacing {
      flex-basis: 20%;
      flex-grow: 1;
    }
}

.menu > * {
  flex-basis: 15%;
  flex-shrink: 1;
  color: white;
  margin: 0.1em;
  font-weight: 400;
}

.menu a {
  color: white;
}

.darkModeToggle:before {
    background: var(--primary-color);
}

.darkModeToggle:after {
    background: var(--secondary-color);
}

form#darkMode, .darkModeToggle {
	position: relative;
}

form#darkMode {
	display: flex;
	justify-content: center;
  align-items: center;
  background: none;
}

.sr, .darkModeToggle:before, .darkModeToggle:after {
	position: absolute;
}

.darkModeToggle:before, .darkModeToggle:after {
	transition: transform var(--dark-mode-toggle-duration);
}

.darkModeToggle:before, .darkModeToggle:checked:after  {
	transition-timing-function: ease-out;
}

.sr, .darkModeToggle {
	overflow: hidden;
}

.sr {
	clip: rect(1px,1px,1px,1px);
	color: transparent;
	width: 1px;
	height: 1px;
}

.darkModeToggle {
	background: var(--background-color);
	border-radius: 0.75em;
	cursor: pointer;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: -0px 0px 6px 0px black;
}

.darkModeToggle:before, .darkModeToggle:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
	width: 1em;
	height: 1em;
}

.darkModeToggle:before, .darkModeToggle:checked:after {
	transition-delay: 0s;
}

.darkModeToggle:checked:before, .darkModeToggle:after {
	transition-delay: calc(var(--dark-mode-toggle-duration) * 0.75);
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}

.darkModeToggle:before {
	transform: translateX(-1.5em);
}

.darkModeToggle:checked:before {
	transform: translateX(1.5em);
}

.darkModeToggle:checked:after {
	transform: translateX(3em);
}

.darkModeToggle:focus {
	outline: transparent;
}

/* footer */

.footer {
  float: left;
}

.left {
  text-align: center;

  @media (min-width: $on-laptop) {
    text-align: left;
  }
}

.right {
  text-align: center;

  @media (min-width: $on-laptop) {
    text-align: right;
  }
}

/* icon */

.icon {
  vertical-align: bottom;
}

span.date {
  color: $grey-color;
  font-family: 'Courier New', Courier, monospace;
}

/* Pagination */

.pagination {
  width: 50%;
}

/* others */

.small-font {
  font-size: $small-font-size;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* Smaller than tablet */
@media (max-width: 750px) {
}

/* Smaller than tablet */
@media (max-width: 550px) {
}