<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script type="text/javascript" src="/js/dynamic-color-selector.js"></script>
    <div class="page-content">
      <div class="container">
        {% include menu.html %}
        <div class="two columns"></div>
        <div class="wrapper">{{ content }}</div>
        {% include search-modal.html %}
      </div>
    </div>

    {% include footer.html %}
    
    <script type="text/javascript" src="/js/scroll-indicator.js"></script>
    <script type="text/javascript" src="/js/search-modal.js"></script>
    <script src="/js/lunr.min.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>
